<h1>Editing Book</h1>
 <%= form_with model: @book, url: edit_book_path(book.id) do |f| %>

  <div class="field">
    <label for="book_title">Title</label>
    <!--<text_area class="book_title">記載必要？-->
    <%= f.text_field :title %>
    </text_area>
  </div>
  <div class="field">
    <label for="book_body">Body</label>
    <!--<text_area class="book_body" name="book[body]" id="book_body">記載必要？-->
      <%= f.text_area :body %>
    <!--</text_area>記載必要？-->
  </div>
  <div class="actions">
    <%= f.submit'Update Book' %>
  </div>

 <% end %>

 <p>
 <span><%= link_to 'Show', book_path(book.id) %></span>
 |
 <span><%= link_to 'Back', books_path　%></span>
 </p>